<EnhancedServicePrequalRequest xmlns="http://soap.sforce.com/schemas/class/PartnersOrder">
	<tns:req xmlns:tns="http://soap.sforce.com/schemas/class/PartnersOrder">
		<tns:MessageHeader>
			<tns:TransactionCode>$!{exchange.properties.TransactionCode}</tns:TransactionCode>
			<tns:TransactionDateTime>$!{exchange.properties.TransactionDateTime}</tns:TransactionDateTime>
			<tns:TransactionSequenceId>$!{exchange.properties.TransactionSequenceId}</tns:TransactionSequenceId>
		</tns:MessageHeader>
		<tns:CustomerCategory>$!{exchange.properties.CustomerCategory}</tns:CustomerCategory>
		<tns:CustomerCreditCheckConsentFlag>$!{exchange.properties.CustomerCreditCheckConsentFlag}</tns:CustomerCreditCheckConsentFlag>
		<tns:CustomerName>
			<tns:FirstName>$!{exchange.properties.FirstName}</tns:FirstName>
			<tns:MiddleName>$!{exchange.properties.MiddleName}</tns:MiddleName>
			<tns:LastName>$!{exchange.properties.LastName}</tns:LastName>
		</tns:CustomerName>
		<tns:DOB>$!{exchange.properties.DOB}</tns:DOB>
		<tns:InstallAddress>
			<tns:City>$!{exchange.properties.City}</tns:City>
			<tns:CountryCode>$!{exchange.properties.CountryCode}</tns:CountryCode>
			<tns:Landmark>$!{exchange.properties.Landmark}</tns:Landmark>
			<tns:Latitude>$!{exchange.properties.Latitude}</tns:Latitude>
			<tns:Longitude>$!{exchange.properties.Longitude}</tns:Longitude>
			<tns:OverrideAddress>$!{exchange.properties.OverrideAddress}</tns:OverrideAddress>
			<tns:PostalCode>$!{exchange.properties.PostalCode}</tns:PostalCode>
			<tns:State>$!{exchange.properties.State}</tns:State>
			<tns:StreetAddress1>$!{exchange.properties.StreetAddress1}</tns:StreetAddress1>
		</tns:InstallAddress>
		<tns:IsInterestedInVoIP>$!{exchange.properties.IsInterestedInVoIP}</tns:IsInterestedInVoIP>
		<tns:LandlinePhoneNumber>$!{exchange.properties.LandlinePhoneNumber}</tns:LandlinePhoneNumber>
		<tns:PartnerId>$!{exchange.properties.PartnerId}</tns:PartnerId>
		<tns:TransportInformation>
			<tns:TransportFeasibilityParameter>
				<tns:AvailabilityFlag>$!{exchange.properties.BroadbandRemote_AvailabilityFlag}</tns:AvailabilityFlag>
				<tns:BeamID>$!{exchange.properties.BroadbandRemote_BeamID}</tns:BeamID>
				<tns:BusinessAvailabilityFlag>$!{exchange.properties.BroadbandRemote_BusinessAvailabilityFlag}</tns:BusinessAvailabilityFlag>
				<tns:MinAntennaSize>$!{exchange.properties.BroadbandRemote_MinAntennaSize}</tns:MinAntennaSize>
				<tns:MinODUPower>$!{exchange.properties.BroadbandRemote_MinODUPower}</tns:MinODUPower>
				<tns:SatellitedID>$!{exchange.properties.BroadbandRemote_SatellitedID}</tns:SatellitedID>
				<tns:SLVTParametersList>
					<tns:SLVTParameters>
						<tns:AntennaSize>$!{exchange.properties.BR_AntennaSize}</tns:AntennaSize>
						<tns:Availability>$!{exchange.properties.BR_Availability}</tns:Availability>
						<tns:RadioPower>$!{exchange.properties.BR_RadioPower}</tns:RadioPower>
					</tns:SLVTParameters>
				</tns:SLVTParametersList>
				<tns:TransportName>$!{exchange.properties.BroadbandRemote_TransportName}</tns:TransportName>
			</tns:TransportFeasibilityParameter>
			<tns:TransportFeasibilityParameter>
				<tns:AvailabilityFlag>$!{exchange.properties.Jupiter_AvailabilityFlag}</tns:AvailabilityFlag>
				<tns:BeamID>$!{exchange.properties.Jupiter_BeamID}</tns:BeamID>
				<tns:BusinessAvailabilityFlag>$!{exchange.properties.Jupiter_BusinessAvailabilityFlag}</tns:BusinessAvailabilityFlag>
				<tns:MinAntennaSize>$!{exchange.properties.Jupiter_MinAntennaSize}</tns:MinAntennaSize>
				<tns:MinODUPower>$!{exchange.properties.Jupiter_MinODUPower}</tns:MinODUPower>
				<tns:SatellitedID>$!{exchange.properties.Jupiter_SatellitedID}</tns:SatellitedID>
				<tns:SLVTParametersList>
					<tns:SLVTParameters>
					<tns:AntennaSize>$!{exchange.properties.JR_AntennaSize}</tns:AntennaSize>
					<tns:Availability>$!{exchange.properties.JR_RadioPower}</tns:Availability>
					<tns:RadioPower>$!{exchange.properties.JR_Availability}</tns:RadioPower>
				</tns:SLVTParameters>
				</tns:SLVTParametersList>
				<tns:TransportName>$!{exchange.properties.Jupiter_TransportName}</tns:TransportName>
			</tns:TransportFeasibilityParameter>
		</tns:TransportInformation>
	</tns:req>
</EnhancedServicePrequalRequest> 