<SFDCAPIEventRequest xmlns="http://soap.sforce.com/schemas/class/PartnersVoucher">
            <req>
                <TransactionSequenceId>${exchange.properties.TransactionSequenceId}</TransactionSequenceId>
                <APIName>ReverseVoucher</APIName>
                <Parameters>
                    <Key>SPPartnerID</Key>
                    <Value>VIP</Value>
                </Parameters>
                <Parameters>
                    <Key>SAN</Key>
                    <Value>${exchange.properties.SAN}</Value>
                </Parameters>
				 <Parameters>
                    <Key>VoucherNumber</Key>
                    <Value>${exchange.properties.VoucherNumber}</Value>
                </Parameters>
            </req>
        </SFDCAPIEventRequest>
