<SFDCAPIEventRequest xmlns="http://soap.sforce.com/schemas/class/PartnersVoucher">
            <req>
                <TransactionSequenceId>${exchange.properties.TransactionSequenceId}</TransactionSequenceId>
                <APIName>GenerateVoucher</APIName>
                <Parameters>
                    <Key>SPPartnerID</Key>
                    <Value>${exchange.properties.PartnerId}</Value>
                </Parameters>
                <Parameters>
                    <Key>VoucherBatchName</Key>
                    <Value>${exchange.properties.VoucherBatchName}</Value>
                </Parameters>
                <Parameters>
                    <Key>VoucherType</Key>
                    <Value>${exchange.properties.VoucherType}</Value>
                </Parameters>
                <Parameters>
                    <Key>VoucherBatchID</Key>
                    <Value>${exchange.properties.batchId}</Value>
                </Parameters>
                <Parameters>
                    <Key>ExpirationDate</Key>
                    <Value>${exchange.properties.VoucherExpirationDate}</Value>
                </Parameters>
                <Parameters>
                    <Key>Quantity</Key>
                    <Value>${exchange.properties.VoucherQuantity}</Value>
                </Parameters>
                <Parameters>
                    <Key>VoucherPrice</Key>
                    <Value>${exchange.properties.VoucherPrice}</Value>
                </Parameters>
            </req>
        </SFDCAPIEventRequest>


